swagger: '2.0'
info:
  title: Azure Compute resource management API.
  version: '2026-04-01'
  description: Compute Client
  x-typespec-generated:
    - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - azure_auth:
      - user_impersonation
tags:
  - name: ComputeOperations
  - name: VirtualMachineScaleSets
  - name: VirtualMachineScaleSetRollingUpgrades
  - name: VirtualMachineScaleSetExtensions
  - name: VirtualMachineScaleSetLifeCycleHookEvents
  - name: VirtualMachineScaleSetVMs
  - name: VirtualMachineScaleSetVMExtensions
  - name: VirtualMachines
  - name: VirtualMachineExtensions
  - name: VirtualMachineExtensionImages
  - name: AvailabilitySets
  - name: ProximityPlacementGroups
  - name: DedicatedHostGroups
  - name: DedicatedHosts
  - name: DedicatedHost
  - name: SshPublicKeys
  - name: Images
  - name: RestorePointCollections
  - name: CapacityReservationGroups
  - name: CapacityReservations
  - name: CapacityReservation
  - name: InterconnectBlocks
  - name: VirtualMachineRunCommands
  - name: VirtualMachineScaleSetVMRunCommands
  - name: VirtualMachineDiagnosticRunCommands
  - name: VirtualMachineScaleSetVMDiagnosticRunCommands
  - name: Usage
  - name: VirtualMachineSizes
  - name: VirtualMachineImages
  - name: LogAnalytics
paths:
  /providers/Microsoft.Compute/operations:
    get:
      operationId: Operations_List
      tags:
        - ComputeOperations
      description: List the operations for the provider
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Operations_List_MaximumSet_Gen:
          parameters:
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                value:
                  - origin: aaaaa
                    name: aaaaaaaaaaaa
                    display:
                      operation: aaaaaaaaaaaaaaaaaaaaaa
                      resource: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                      description: aaaaaaaaaaaaaaaaaaaaaa
                      provider: aaaaaaaaaaaaaaaaaa
          operationId: Operations_List
          title: Operations_List_MaximumSet_Gen
        Operations_List_MinimumSet_Gen:
          parameters:
            api-version: '2026-04-01'
          responses:
            '200':
              body: {}
          operationId: Operations_List
          title: Operations_List_MinimumSet_Gen
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets:
    get:
      operationId: AvailabilitySets_ListBySubscription
      tags:
        - AvailabilitySets
      description: Lists all availability sets in a subscription.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - name: $expand
          in: query
          description: The expand expression to apply to the operation. Allowed values are 'instanceView'.
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/AvailabilitySetListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        List availability sets in a subscription.:
          parameters:
            subscriptionId: '{subscriptionId}'
            api-version: '2026-04-01'
            $expand: virtualMachines\$ref
          responses:
            '200':
              body:
                value:
                  - name: '{availabilitySetName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    type: Microsoft.Compute/availabilitySets
                    location: australiasoutheast
                    properties:
                      platformUpdateDomainCount: 5
                      platformFaultDomainCount: 3
                      virtualMachines:
                        - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}
                    sku:
                      name: Classic
                  - name: '{availabilitySetName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    type: Microsoft.Compute/availabilitySets
                    location: australiasoutheast
                    properties:
                      platformUpdateDomainCount: 5
                      platformFaultDomainCount: 3
                      virtualMachines:
                        - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}
                    sku:
                      name: Classic
                  - name: '{availabilitySetName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    type: Microsoft.Compute/availabilitySets
                    location: westcentralus
                    tags:
                      '{tagName}': '{tagValue}'
                    properties:
                      platformUpdateDomainCount: 5
                      platformFaultDomainCount: 3
                      virtualMachines: []
                    sku:
                      name: Classic
                  - name: '{availabilitySetName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    type: Microsoft.Compute/availabilitySets
                    location: westcentralus
                    tags:
                      '{tagName}': '{tagValue}'
                    properties:
                      platformUpdateDomainCount: 5
                      platformFaultDomainCount: 3
                      virtualMachines: []
                    sku:
                      name: Classic
          operationId: AvailabilitySets_ListBySubscription
          title: List availability sets in a subscription.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/capacityReservationGroups:
    get:
      operationId: CapacityReservationGroups_ListBySubscription
      tags:
        - CapacityReservationGroups
      description: Lists all of the capacity reservation groups in the subscription. Use the nextLink property in the response to get the next page of capacity reservation groups.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - name: $expand
          in: query
          description: The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
          required: false
          type: string
          enum:
            - virtualMachineScaleSetVMs/$ref
            - virtualMachines/$ref
          x-ms-enum:
            name: ExpandTypesForGetCapacityReservationGroups
            modelAsString: true
            values:
              - name: virtualMachineScaleSetVMs/$ref
                value: virtualMachineScaleSetVMs/$ref
              - name: virtualMachines/$ref
                value: virtualMachines/$ref
        - name: resourceIdsOnly
          in: query
          description: The query option to fetch Capacity Reservation Group Resource Ids. <br> 'CreatedInSubscription' enables fetching Resource Ids for all capacity reservation group resources created in the subscription. <br> 'SharedWithSubscription' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription. <br> 'All' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription and created in the subscription.
          required: false
          type: string
          enum:
            - CreatedInSubscription
            - SharedWithSubscription
            - All
          x-ms-enum:
            name: ResourceIdOptionsForGetCapacityReservationGroups
            modelAsString: true
            values:
              - name: CreatedInSubscription
                value: CreatedInSubscription
              - name: SharedWithSubscription
                value: SharedWithSubscription
              - name: All
                value: All
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/CapacityReservationGroupListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        List capacity reservation groups in subscription.:
          parameters:
            subscriptionId: '{subscription-id}'
            api-version: '2026-04-01'
            $expand: virtualMachines/$ref
          responses:
            '200':
              body:
                value:
                  - name: '{capacityReservationGroupName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}
                    type: Microsoft.Compute/CapacityReservationGroups
                    location: West US
                    properties:
                      capacityReservations:
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation1
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation2
                      virtualMachinesAssociated:
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/virtualMachines/myVM1
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/virtualMachines/myVM2
                  - name: '{capacityReservationGroupName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}
                    type: Microsoft.Compute/CapacityReservationGroups
                    location: West US
                    properties:
                      capacityReservations:
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation3
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation4
                      virtualMachinesAssociated:
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/virtualMachines/myVM3
                  - name: '{capacityReservationGroupName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}
                    type: Microsoft.Compute/CapacityReservationGroups
                    location: West US
                    properties:
                      capacityReservations:
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/blockCapacityReservationGroup/capacityReservations/blockCapacityReservation1
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/blockCapacityReservationGroup/capacityReservations/blockCapacityReservation2
                      virtualMachinesAssociated:
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM3
                      reservationType: Block
                  - name: '{capacityReservationGroupName}'
                    id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}
                    type: Microsoft.Compute/CapacityReservationGroups
                    location: West US
                    properties:
                      capacityReservations:
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/targetedCapacityReservationGroup/capacityReservations/targetedCapacityReservation1
                        - id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/targetedCapacityReservationGroup/capacityReservations/targetedCapacityReservation2
                      virtualMachinesAssociated:
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM3
                      reservationType: Targeted
          operationId: CapacityReservationGroups_ListBySubscription
          title: List capacity reservation groups in subscription.
        List capacity reservation groups with resource Ids only in subscription.:
          parameters:
            subscriptionId: '{subscription-id}'
            api-version: '2026-04-01'
            resourceIdsOnly: All
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName1}
                    type: Microsoft.Compute/capacityReservationGroups
                    location: SouthCentralUSSTG
                  - id: /subscriptions/{subscriptionId2}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName2}
                    type: Microsoft.Compute/capacityReservationGroups
                    location: SouthCentralUSSTG
          operationId: CapacityReservationGroups_ListBySubscription
          title: List capacity reservation groups with resource Ids only in subscription.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups:
    get:
      operationId: DedicatedHostGroups_ListBySubscription
      tags:
        - DedicatedHostGroups
      description: Lists all of the dedicated host groups in the subscription. Use the nextLink property in the response to get the next page of dedicated host groups.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/DedicatedHostGroupListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        DedicatedHostGroup_ListBySubscription_MaximumSet_Gen:
          parameters:
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                  - location: westus
                    tags: {}
                    zones:
                      - '1'
                    properties:
                      platformFaultDomainCount: 3
                      supportAutomaticPlacement: true
                      hosts:
                        - id: aaaa
                      instanceView:
                        hosts:
                          - name: aaaaaaaaaaaaaaaaaa
                            assetId: aaaa
                            availableCapacity:
                              allocatableVMs:
                                - vmSize: aaaaaaaaaaaaaaaaaaaa
                                  count: 26
                            statuses:
                              - code: aaaaaaaaaaaaaaaaaaaaaaa
                                level: Info
                                displayStatus: aaaaaa
                                message: a
                                time: '2021-11-30T12:58:26.522Z'
                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup
                    name: myDedicatedHostGroup
                    type: aaaa
                nextLink: a://example.com/aaaaaaaaaaaaaaaaaaaaaaaaaaa
          operationId: DedicatedHostGroups_ListBySubscription
          title: DedicatedHostGroup_ListBySubscription_MaximumSet_Gen
        DedicatedHostGroup_ListBySubscription_MinimumSet_Gen:
          parameters:
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                  - location: westus
                    id: /subscriptions/{subscription-id}/resourceGroups/rgcompute/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup
          operationId: DedicatedHostGroups_ListBySubscription
          title: DedicatedHostGroup_ListBySubscription_MinimumSet_Gen
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/images:
    get:
      operationId: Images_List
      tags:
        - Images
      description: Gets the list of Images in the subscription. Use nextLink property in the response to get the next page of Images. Do this till nextLink is null to fetch all the Images.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ImageListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        List all virtual machine images in a subscription.:
          parameters:
            subscriptionId: '{subscription-id}'
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage
                    name: myImage
                    type: Microsoft.Compute/images
                    location: West US
                    properties:
                      storageProfile:
                        osDisk:
                          osType: Windows
                          blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                          snapshot:
                            id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
                          managedDisk:
                            id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1
                          osState: Generalized
                          storageAccountType: Standard_LRS
                        dataDisks:
                          - lun: 1
                            blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                            snapshot:
                              id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                            managedDisk:
                              id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                            storageAccountType: Standard_LRS
                      provisioningState: created
                nextLink: http://svchost:99/subscriptions/subscriptionId/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images?$skiptoken=token/Subscriptions/subscriptionId/ResourceGroups/myResourceGroup/UserVMImages/myImageName
          operationId: Images_List
          title: List all virtual machine images in a subscription.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/interconnectBlocks:
    get:
      operationId: InterconnectBlocks_ListBySubscription
      tags:
        - InterconnectBlocks
      description: Lists all of the Interconnect Blocks in the subscription. Use the nextLink property in the response to get the next page of Interconnect Blocks.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/InterconnectBlockListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        List Interconnect Blocks in a subscription.:
          parameters:
            subscriptionId: '{subscription-id}'
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                value:
                  - name: myInterconnectBlock1
                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/interconnectBlocks/myInterconnectBlock1
                    type: Microsoft.Compute/interconnectBlocks
                    location: westus
                    tags:
                      department: HR
                    sku:
                      name: Standard_ND128isr_GB300_v6
                      capacity: 18
                    zones:
                      - '1'
                    properties:
                      interconnectGroup:
                        id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Network/interconnectGroups/myInterconnectGroup1
                      interconnectBlockId: '{GUID}'
                      provisioningTime: '2026-03-01T01:02:38.3138469+00:00'
                      virtualMachinesAssociated:
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/virtualMachines/myVM1
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/virtualMachines/myVM2
                      provisioningState: Succeeded
                      timeCreated: '2026-03-01T01:02:38.3138469+00:00'
                  - name: myInterconnectBlock2
                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/interconnectBlocks/myInterconnectBlock2
                    type: Microsoft.Compute/interconnectBlocks
                    location: westus
                    tags:
                      department: HR
                    sku:
                      name: Standard_ND128isr_GB300_v6
                      capacity: 18
                    zones:
                      - '1'
                    properties:
                      interconnectGroup:
                        id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup2/providers/Microsoft.Network/interconnectGroups/myInterconnectGroup2
                      interconnectBlockId: '{GUID}'
                      provisioningTime: '2026-03-01T01:02:38.3138469+00:00'
                      virtualMachinesAssociated:
                        - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/virtualMachines/myVM3
                      provisioningState: Succeeded
                      timeCreated: '2026-03-01T01:02:38.3138469+00:00'
          operationId: InterconnectBlocks_ListBySubscription
          title: List Interconnect Blocks in a subscription.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers:
    get:
      operationId: VirtualMachineImagesEdgeZone_ListPublishers
      tags:
        - VirtualMachineImages
      description: Gets a list of virtual machine image publishers for the specified Azure location and edge zone.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: edgeZone
          in: path
          description: The name of the edge zone.
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen:
          parameters:
            location: aaaaaa
            edgeZone: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_ListPublishers
          title: VirtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen
        VirtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen:
          parameters:
            location: aaaa
            edgeZone: aaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_ListPublishers
          title: VirtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers:
    get:
      operationId: VirtualMachineImagesEdgeZone_ListOffers
      tags:
        - VirtualMachineImages
      description: Gets a list of virtual machine image offers for the specified location, edge zone and publisher.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: edgeZone
          in: path
          description: The name of the edge zone.
          required: true
          type: string
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaa
            edgeZone: aaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_ListOffers
          title: VirtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen
        VirtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaa
            edgeZone: aaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_ListOffers
          title: VirtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus:
    get:
      operationId: VirtualMachineImagesEdgeZone_ListSkus
      tags:
        - VirtualMachineImages
      description: Gets a list of virtual machine image SKUs for the specified location, edge zone, publisher, and offer.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: edgeZone
          in: path
          description: The name of the edge zone.
          required: true
          type: string
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
        - name: offer
          in: path
          description: A valid image publisher offer.
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaa
            edgeZone: aaaaa
            publisherName: aaaaaaaaaaaa
            offer: aaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_ListSkus
          title: VirtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen
        VirtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaa
            edgeZone: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaa
            offer: aaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_ListSkus
          title: VirtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions:
    get:
      operationId: VirtualMachineImagesEdgeZone_List
      tags:
        - VirtualMachineImages
      description: Gets a list of all virtual machine image versions for the specified location, edge zone, publisher, offer, and SKU.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: edgeZone
          in: path
          description: The name of the edge zone.
          required: true
          type: string
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
        - name: offer
          in: path
          description: A valid image publisher offer.
          required: true
          type: string
        - name: skus
          in: path
          description: A valid image SKU.
          required: true
          type: string
        - name: $expand
          in: query
          description: The expand expression to apply on the operation.
          required: false
          type: string
        - name: $top
          in: query
          description: An integer value specifying the number of images to return that matches supplied values.
          required: false
          type: integer
          format: int32
        - name: $orderby
          in: query
          description: Specifies the order of the results returned. Formatted as an OData query.
          required: false
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImagesEdgeZone_List_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaa
            edgeZone: aaaaaaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaa
            offer: aaaaaaaaaaaaaaaaaaaaaaaaaa
            skus: aaaaaaaaaaaaaaaaaaaaaaa
            $expand: aaaaaaaaaaaaaaaaaaaaaaaa
            $top: 12
            $orderby: aaaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_List
          title: VirtualMachineImagesEdgeZone_List_MaximumSet_Gen
        VirtualMachineImagesEdgeZone_List_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            edgeZone: aaaaa
            publisherName: aaaaaaaaaaaaaaaaaaa
            offer: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            skus: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_List
          title: VirtualMachineImagesEdgeZone_List_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}:
    get:
      operationId: VirtualMachineImagesEdgeZone_Get
      tags:
        - VirtualMachineImages
      description: Gets a virtual machine image in an edge zone.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: edgeZone
          in: path
          description: The name of the edge zone.
          required: true
          type: string
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
        - name: offer
          in: path
          description: A valid image publisher offer.
          required: true
          type: string
        - name: skus
          in: path
          description: A valid image SKU.
          required: true
          type: string
        - name: version
          in: path
          description: A valid image SKU version.
          required: true
          type: string
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/VirtualMachineImage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImagesEdgeZone_Get_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaaa
            edgeZone: aaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaa
            offer: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            skus: aaaaaaaaaa
            version: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                properties:
                  plan:
                    publisher: aaaaaaaaaaaaaaaaaaa
                    name: aaaaaaaaa
                    product: aaaaaaaaaaaaaa
                  osDiskImage:
                    operatingSystem: Windows
                  dataDiskImages:
                    - lun: 17
                  automaticOSUpgradeProperties:
                    automaticOSUpgradeSupported: true
                  hyperVGeneration: V1
                  disallowed:
                    vmDiskType: None
                  features:
                    - name: aaaaaaaaaaaaaaaaaaaaa
                      value: aaaaaaaaaaaaaaaaaaaa
                name: aaaaaaaaa
                location: aaaaa
                tags:
                  key6817: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                extendedLocation:
                  name: aaaaaaaaaaaaaaaaaaaaa
                  type: EdgeZone
                id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_Get
          title: VirtualMachineImagesEdgeZone_Get_MaximumSet_Gen
        VirtualMachineImagesEdgeZone_Get_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaa
            edgeZone: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            offer: aaaaaaaaaaa
            skus: aaaaaaaaaaaaaaaaaa
            version: aa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                name: aaaaaaaaa
                location: aaaaa
                id: aaaaaaaaaaa
          operationId: VirtualMachineImagesEdgeZone_Get
          title: VirtualMachineImagesEdgeZone_Get_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/vmimages:
    get:
      operationId: VirtualMachineImages_ListByEdgeZone
      tags:
        - VirtualMachineImages
      description: Gets a list of all virtual machine image versions for the specified edge zone
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: edgeZone
          in: path
          description: The name of the edge zone.
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/VmImagesInEdgeZoneListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImagesEdgeZone_ListByEdgeZone_MaximumSet_Gen:
          parameters:
            location: WestUS
            edgeZone: microsoftlosangeles1
            api-version: '2026-04-01'
            subscriptionId: 5ece5940-d962-4dad-a98f-ca9ac0f021a5
          responses:
            '200':
              body:
                value:
                  - name: 18.04.202107200
                    location: WestUS
                    extendedLocation:
                      name: microsoftlosangeles1
                      type: EdgeZone
                    id: /Subscriptions/5ece5940-d962-4dad-a98f-ca9ac0f021a5/Providers/Microsoft.Compute/Locations/westus/Publishers/CANONICAL/ArtifactTypes/VMImage/Offers/UBUNTUSERVER/Skus/18_04-LTS-GEN2/Versions/18.04.202107200
          operationId: VirtualMachineImages_ListByEdgeZone
          title: VirtualMachineImagesEdgeZone_ListByEdgeZone_MaximumSet_Gen
        VirtualMachineImagesEdgeZone_ListByEdgeZone_MinimumSet_Gen:
          parameters:
            location: WestUS
            edgeZone: microsoftlosangeles1
            api-version: '2026-04-01'
            subscriptionId: 5ece5940-d962-4dad-a98f-ca9ac0f021a5
          responses:
            '200':
              body:
                value: []
          operationId: VirtualMachineImages_ListByEdgeZone
          title: VirtualMachineImagesEdgeZone_ListByEdgeZone_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval:
    post:
      operationId: LogAnalytics_ExportRequestRateByInterval
      tags:
        - LogAnalytics
      description: Export logs that show Api requests made by this subscription in the given time window to show throttling activities.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: parameters
          in: body
          description: Parameters supplied to the LogAnalytics getRequestRateByInterval Api.
          required: true
          schema:
            $ref: '#/definitions/RequestRateByIntervalInput'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/LogAnalyticsOperationResult'
        '202':
          description: Resource operation accepted.
          headers:
            Azure-AsyncOperation:
              type: string
              description: A link to the status monitor
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Export logs which contain all Api requests made to Compute Resource Provider within the given time period broken down by intervals.:
          parameters:
            subscriptionId: '{subscription-id}'
            location: westus
            api-version: '2026-04-01'
            parameters:
              intervalLength: FiveMins
              blobContainerSasUri: https://somesasuri
              fromTime: '2018-01-21T01:54:06.862601Z'
              toTime: '2018-01-23T01:54:06.862601Z'
              groupByResourceName: true
          responses:
            '200':
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/RequestRateByInterval_20180121-0154_20180123-0154.csv
            '202':
              headers:
                Location: https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/westus/operations/{operationId}&monitor=true&api-version=2026-04-01
          operationId: LogAnalytics_ExportRequestRateByInterval
          title: Export logs which contain all Api requests made to Compute Resource Provider within the given time period broken down by intervals.
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
        final-state-schema: '#/definitions/LogAnalyticsOperationResult'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests:
    post:
      operationId: LogAnalytics_ExportThrottledRequests
      tags:
        - LogAnalytics
      description: Export logs that show total throttled Api requests for this subscription in the given time window.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: parameters
          in: body
          description: The request body
          required: true
          schema:
            $ref: '#/definitions/ThrottledRequestsInput'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/LogAnalyticsOperationResult'
        '202':
          description: Resource operation accepted.
          headers:
            Azure-AsyncOperation:
              type: string
              description: A link to the status monitor
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.:
          parameters:
            subscriptionId: '{subscription-id}'
            location: westus
            api-version: '2026-04-01'
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: '2018-01-21T01:54:06.862601Z'
              toTime: '2018-01-23T01:54:06.862601Z'
              groupByOperationName: true
              groupByResourceName: false
              groupByClientApplicationId: false
              groupByUserAgent: false
          responses:
            '200':
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/ThrottledRequests_20180121-0154_20180123-0154.csv
            '202':
              headers:
                Location: https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/westus/operations/{operationId}&monitor=true&api-version=2026-04-01
          operationId: LogAnalytics_ExportThrottledRequests
          title: Export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
        final-state-schema: '#/definitions/LogAnalyticsOperationResult'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers:
    get:
      operationId: VirtualMachineImages_ListPublishers
      tags:
        - VirtualMachineImages
      description: Gets a list of virtual machine image publishers for the specified Azure location.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImage_ListPublishers_MaximumSet_Gen:
          parameters:
            location: aaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_ListPublishers
          title: VirtualMachineImage_ListPublishers_MaximumSet_Gen
        VirtualMachineImage_ListPublishers_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_ListPublishers
          title: VirtualMachineImage_ListPublishers_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types:
    get:
      operationId: VirtualMachineExtensionImages_ListTypes
      tags:
        - VirtualMachineExtensionImages
      description: Gets a list of virtual machine extension image types.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineExtensionImage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineExtensionImage_ListTypes_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - properties:
                    operatingSystem: aaaaaaaaaaaaaaaaaa
                    computeRole: aaaaaaaaaaaaaaaaa
                    handlerSchema: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    vmScaleSetEnabled: true
                    supportsMultipleExtensions: true
                  id: aaaaaaaaaaaaaaaaa
                  name: aaaaaaaaaaaaaaa
                  type: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  location: aaaaaaaaaaaaa
                  tags:
                    key9885: aaaaaaaaa
          operationId: VirtualMachineExtensionImages_ListTypes
          title: VirtualMachineExtensionImage_ListTypes_MaximumSet_Gen
        VirtualMachineExtensionImage_ListTypes_MinimumSet_Gen:
          parameters:
            location: aaaa
            publisherName: aa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaaaaaaaaa
                  location: aaaaaaaaaaaaa
                  id: aaaaaaaaaaaaaaaaa
          operationId: VirtualMachineExtensionImages_ListTypes
          title: VirtualMachineExtensionImage_ListTypes_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions:
    get:
      operationId: VirtualMachineExtensionImages_ListVersions
      tags:
        - VirtualMachineExtensionImages
      description: Gets a list of virtual machine extension image versions.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          required: true
          type: string
        - name: type
          in: path
          description: ''
          required: true
          type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          type: string
        - name: $top
          in: query
          required: false
          type: integer
          format: int32
        - name: $orderby
          in: query
          required: false
          type: string
        - name: $expand
          in: query
          description: 'Expand the response to include additional read-only metadata. Allowed values: `properties` — returns extended metadata (`releaseCategory`, `urgencyLevel`, `runProfile`).'
          required: false
          type: string
          enum:
            - properties
          x-ms-enum:
            name: ListVersionsExpandOptions
            modelAsString: true
            values:
              - name: Properties
                value: properties
                description: Expand to include all properties in the response.
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineExtensionImage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineExtensionImage_ListVersions_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaa
            type: aaaaaaaaaaaaaaaaaa
            $filter: aaaaaaaaaaaaaaaaaaaaaaaaa
            $top: 22
            $orderby: a
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - properties:
                    operatingSystem: aaaaaaaaaaaaaaaaaa
                    computeRole: aaaaaaaaaaaaaaaaa
                    handlerSchema: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    vmScaleSetEnabled: true
                    supportsMultipleExtensions: true
                  id: aaaaaaaaaaaaaaaaa
                  name: aaaaaaaaaaaaaaa
                  type: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  location: aaaaaaaaaaaaa
                  tags:
                    key9885: aaaaaaaaa
          operationId: VirtualMachineExtensionImages_ListVersions
          title: VirtualMachineExtensionImage_ListVersions_MaximumSet_Gen
        VirtualMachineExtensionImage_ListVersions_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            type: aaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaaaaaaaaa
                  location: aaaaaaaaaaaaa
                  id: aaaaaaaaaaaaaaaaa
          operationId: VirtualMachineExtensionImages_ListVersions
          title: VirtualMachineExtensionImage_ListVersions_MinimumSet_Gen
        VirtualMachineExtensionImage_ListVersions_WithExpandProperties_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaa
            type: aaaaaaaaaaaaaaaaaa
            $filter: aaaaaaaaaaaaaaaaaaaaaaaaa
            $top: 22
            $orderby: a
            $expand: properties
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - properties:
                    operatingSystem: aaaaaaaaaaaaaaaaaa
                    computeRole: aaaaaaaaaaaaaaaaa
                    handlerSchema: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    vmScaleSetEnabled: true
                    supportsMultipleExtensions: true
                    releaseCategory: SecurityFix
                    urgencyLevel: Emergency
                    runProfile: LongRunning
                  id: aaaaaaaaaaaaaaaaa
                  name: aaaaaaaaaaaaaaa
                  type: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  location: aaaaaaaaaaaaa
                  tags:
                    key9885: aaaaaaaaa
          operationId: VirtualMachineExtensionImages_ListVersions
          title: VirtualMachineExtensionImage_ListVersions_WithExpandProperties_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}:
    get:
      operationId: VirtualMachineExtensionImages_Get
      tags:
        - VirtualMachineExtensionImages
      description: Gets a virtual machine extension image.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          required: true
          type: string
        - name: type
          in: path
          description: ''
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/VirtualMachineExtensionImage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineExtensionImage_Get_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaa
            type: aaaaaaaaaaaaaaaaaa
            version: aaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                properties:
                  operatingSystem: aaaaaaaaaaaaaaaaaa
                  computeRole: aaaaaaaaaaaaaaaaa
                  handlerSchema: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  vmScaleSetEnabled: true
                  supportsMultipleExtensions: true
                  releaseNotes: Fixed a critical bug in the extension handler.
                  releaseCategory: BugFix
                  urgencyLevel: Expedited
                  runProfile: RunOnce
                  extensionFeatureMetadata:
                    extensionFeatureTags:
                      - key: FipsCompliantVersion
                        value: 140-3
                id: aaaaaaaaaaaaaaaaa
                name: aaaaaaaaaaaaaaa
                type: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                location: aaaaaaaaaaaaa
                tags:
                  key9885: aaaaaaaaa
          operationId: VirtualMachineExtensionImages_Get
          title: VirtualMachineExtensionImage_Get_MaximumSet_Gen
        VirtualMachineExtensionImage_Get_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaa
            type: aa
            version: aaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                name: aaaaaaaaaaaaaaa
                location: aaaaaaaaaaaaa
                id: aaaaaaaaaaaaaaaaa
          operationId: VirtualMachineExtensionImages_Get
          title: VirtualMachineExtensionImage_Get_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers:
    get:
      operationId: VirtualMachineImages_ListOffers
      tags:
        - VirtualMachineImages
      description: Gets a list of virtual machine image offers for the specified location and publisher.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImage_ListOffers_MaximumSet_Gen:
          parameters:
            location: aaaaaaa
            publisherName: aaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_ListOffers
          title: VirtualMachineImage_ListOffers_MaximumSet_Gen
        VirtualMachineImage_ListOffers_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_ListOffers
          title: VirtualMachineImage_ListOffers_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus:
    get:
      operationId: VirtualMachineImages_ListSkus
      tags:
        - VirtualMachineImages
      description: Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
        - name: offer
          in: path
          description: A valid image publisher offer.
          required: true
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImage_ListSkus_MaximumSet_Gen:
          parameters:
            location: aaaa
            publisherName: aaaaaaaaaaaaaaaaaaaaaaaaaaaa
            offer: aaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_ListSkus
          title: VirtualMachineImage_ListSkus_MaximumSet_Gen
        VirtualMachineImage_ListSkus_MinimumSet_Gen:
          parameters:
            location: aaaa
            publisherName: aaaaaaaaaaaaa
            offer: aaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_ListSkus
          title: VirtualMachineImage_ListSkus_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions:
    get:
      operationId: VirtualMachineImages_List
      tags:
        - VirtualMachineImages
      description: Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
        - name: offer
          in: path
          description: A valid image publisher offer.
          required: true
          type: string
        - name: skus
          in: path
          description: A valid image SKU.
          required: true
          type: string
        - name: $expand
          in: query
          description: The expand expression to apply on the operation.
          required: false
          type: string
        - name: $top
          in: query
          required: false
          type: integer
          format: int32
        - name: $orderby
          in: query
          required: false
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImage_List_MaximumSet_Gen:
          parameters:
            location: aaaaaaaaaaaaaaa
            publisherName: aaaaaa
            offer: aaaaaaaaaaaaaaaa
            skus: aaaaaaaaaaaaaaaaaaaaaaa
            $expand: aaaaaaaaaaaaaaaaaaaaaaaa
            $top: 18
            $orderby: aa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  tags:
                    key7868: aaaaa
                  extendedLocation:
                    name: aaaaaaaaaaaaaaaaaaaaa
                    type: EdgeZone
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_List
          title: VirtualMachineImage_List_MaximumSet_Gen
        VirtualMachineImage_List_MinimumSet_Gen:
          parameters:
            location: aaaaaaa
            publisherName: aaaaaaaaaaa
            offer: aaaaaaaaaa
            skus: aaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                - name: aaaaaaaa
                  location: aaaaaaaaaaaaaaaaaa
                  id: aaaaaaaaaaa
          operationId: VirtualMachineImages_List
          title: VirtualMachineImage_List_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}:
    get:
      operationId: VirtualMachineImages_Get
      tags:
        - VirtualMachineImages
      description: Gets a virtual machine image.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: publisherName
          in: path
          description: A valid image publisher.
          required: true
          type: string
        - name: offer
          in: path
          description: A valid image publisher offer.
          required: true
          type: string
        - name: skus
          in: path
          description: A valid image SKU.
          required: true
          type: string
        - name: version
          in: path
          description: A valid image SKU version.
          required: true
          type: string
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/VirtualMachineImage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineImage_Get_MaximumSet_Gen:
          parameters:
            location: aaaaaa
            publisherName: aaa
            offer: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            skus: aaaaaaaaaaaaaaaaaaaaaaaaaaa
            version: aaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                properties:
                  plan:
                    publisher: aaaaaaaaaaaaaaaaaaa
                    name: aaaaaaaaa
                    product: aaaaaaaaaaaaaa
                  osDiskImage:
                    operatingSystem: Windows
                  dataDiskImages:
                    - lun: 17
                  automaticOSUpgradeProperties:
                    automaticOSUpgradeSupported: true
                  hyperVGeneration: V1
                  disallowed:
                    vmDiskType: None
                  features:
                    - name: aaaaaaaaaaaaaaaaaaaaa
                      value: aaaaaaaaaaaaaaaaaaaa
                  imageDeprecationStatus:
                    imageState: ScheduledForDeprecation
                    scheduledDeprecationTime: '2023-01-13T00:00:00+00:00'
                    alternativeOption:
                      type: Offer
                      value: aaaaaaa
                name: aaaaaaaaa
                location: aaaaa
                tags:
                  key6817: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                extendedLocation:
                  name: aaaaaaaaaaaaaaaaaaaaa
                  type: EdgeZone
                id: aaaaaaaaaaa
          operationId: VirtualMachineImages_Get
          title: VirtualMachineImage_Get_MaximumSet_Gen
        VirtualMachineImage_Get_MinimumSet_Gen:
          parameters:
            location: aaaaaaaaaaaa
            publisherName: aaaaaaaaaaa
            offer: aa
            skus: aaaaaaaaa
            version: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                name: aaaaaaaaa
                location: aaaaa
                id: aaaaaaaaaaa
          operationId: VirtualMachineImages_Get
          title: VirtualMachineImage_Get_MinimumSet_Gen
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands:
    get:
      operationId: VirtualMachineRunCommands_List
      tags:
        - VirtualMachineRunCommands
      description: Lists all available run commands for a subscription in a location.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/RunCommandListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineRunCommandList:
          parameters:
            subscriptionId: subid
            location: SoutheastAsia
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                value:
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: EnableRemotePS
                    osType: Windows
                    label: Enable remote PowerShell
                    description: Configure the machine to enable remote PowerShell.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: IPConfig
                    osType: Windows
                    label: List IP configuration
                    description: Shows detailed information for the IP address, subnet mask and default gateway for each adapter bound to TCP/IP.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: RunPowerShellScript
                    osType: Windows
                    label: Executes a PowerShell script
                    description: Custom multiline PowerShell script should be defined in script property. Optional parameters can be set in parameters property.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: RunShellScript
                    osType: Linux
                    label: Executes a Linux shell script
                    description: Custom multiline shell script should be defined in script property. Optional parameters can be set in parameters property.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: ifconfig
                    osType: Linux
                    label: List network configuration
                    description: Get the configuration of all network interfaces.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: EnableAdminAccount
                    osType: Windows
                    label: Enable administrator account
                    description: Checks if the local Administrator account is disabled, and if so enables it.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: ResetAccountPassword
                    osType: Windows
                    label: Reset built-in Administrator account password
                    description: Reset built-in Administrator account password.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: RDPSettings
                    osType: Windows
                    label: Verify RDP Listener Settings
                    description: Checks registry settings and domain policy settings. Suggests policy actions if machine is part of a domain or modifies the settings to default values.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: SetRDPPort
                    osType: Windows
                    label: Set Remote Desktop port
                    description: Sets the default or user specified port number for Remote Desktop connections. Enables firewall rule for inbound access to the port.
                  - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                    id: ResetRDPCert
                    osType: Windows
                    label: Restore RDP Authentication mode to defaults
                    description: Removes the SSL certificate tied to the RDP listener and restores the RDP listerner security to default. Use this script if you see any issues with the certificate.
          operationId: VirtualMachineRunCommands_List
          title: VirtualMachineRunCommandList
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands/{commandId}:
    get:
      operationId: VirtualMachineRunCommands_Get
      tags:
        - VirtualMachineRunCommands
      description: Gets specific run command for a subscription in a location.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/LocationParameter'
        - name: commandId
          in: path
          description: Specifies a commandId of predefined built-in script. Command IDs available for Linux are listed at https://aka.ms/RunCommandManagedLinux#available-commands, Windows at https://aka.ms/RunCommandManagedWindows#available-commands.
          required: true
          type: string
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/RunCommandDocument'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineRunCommandGet:
          parameters:
            subscriptionId: 24fb23e3-6ba3-41f0-9b6e-e41131d5d61e
            location: SoutheastAsia
            commandId: RunPowerShellScript
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                script:
                  - param(
                  - '    [string]$arg1,'
                  - '    [string]$arg2'
                  - )
                  - Write-Host This is a sample script with parameters $arg1 $arg2
                parameters:
                  - name: arg1
                    type: string
                    defaultValue: value1
                  - name: arg2
                    type: string
                    defaultValue: value2
                $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                id: RunPowerShellScript
                osType: Windows
                label: Executes a PowerShell script
                description: Custom multiline PowerShell script should be defined in script property. Optional parameters can be set in parameters property.
          operationId: VirtualMachineRunCommands_Get
          title: VirtualMachineRunCommandGet
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages:
    get:
      operationId: Usage_List
      tags:
        - Usage
      description: Gets, for the specified location, the current compute resource usage information as well as the limits for compute resources under the subscription.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ListUsagesResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Usage_List_MaximumSet_Gen:
          parameters:
            location: '4_.'
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                  - unit: Count
                    currentValue: 17
                    limit: 19
                    name:
                      value: aaaaaaaaaaaaaaaaaa
                      localizedValue: aaaaaaaaaaaaaa
                nextLink: a://example.com/aaaaaaaaaaaaaaaaaaaaaaaaaaa
          operationId: Usage_List
          title: Usage_List_MaximumSet_Gen
        Usage_List_MinimumSet_Gen:
          parameters:
            location: _--
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                  - unit: Count
                    currentValue: 17
                    limit: 19
                    name: {}
          operationId: Usage_List
          title: Usage_List_MinimumSet_Gen
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachineScaleSets:
    get:
      operationId: VirtualMachineScaleSets_ListByLocation
      tags:
        - VirtualMachineScaleSets
      description: Gets all the VM scale sets under the specified subscription for the specified location.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Lists all the VM scale sets under the specified subscription for the specified location.:
          parameters:
            subscriptionId: '{subscription-id}'
            location: eastus
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                value:
                  - name: '{virtualMachineScaleSetName}'
                    id: /subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}
                    type: Microsoft.Compute/virtualMachineScaleSets
                    location: eastus
                    tags:
                      myTag1: tagValue1
                    sku:
                      name: Standard_D2s_v3
                      tier: Standard
                      capacity: 4
                    properties:
                      singlePlacementGroup: false
                      upgradePolicy:
                        mode: Automatic
                        automaticOSUpgradePolicy:
                          enableAutomaticOSUpgrade: false
                      virtualMachineProfile:
                        storageProfile:
                          osDisk:
                            createOption: FromImage
                            caching: ReadWrite
                            managedDisk:
                              storageAccountType: Premium_LRS
                            diskSizeGB: 30
                          imageReference:
                            publisher: azuredatabricks
                            offer: databricks
                            sku: databricksworker
                            version: 3.15.2
                          dataDisks: []
                        osProfile:
                          computerNamePrefix: '{virtualMachineScaleSetName}'
                          adminUsername: admin
                          linuxConfiguration:
                            disablePasswordAuthentication: false
                        networkProfile:
                          networkInterfaceConfigurations:
                            - name: myNic
                              properties:
                                primary: true
                                ipConfigurations:
                                  - name: myIPConfig
                                    properties:
                                      primary: true
                                      subnet:
                                        id: /subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/myVNet/subnets/mySubnet
                                networkSecurityGroup:
                                  id: /subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/myNetworkSecurityGroup
                      provisioningState: succeeded
                      overprovision: false
                      doNotRunExtensionsOnOverprovisionedVMs: false
                      platformFaultDomainCount: 1
                  - name: '{virtualMachineScaleSetName}'
                    id: /subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}1
                    type: Microsoft.Compute/virtualMachineScaleSets
                    location: eastus
                    tags:
                      myTag1: tagValue2
                    sku:
                      name: Standard_D2s_v3
                      tier: Standard
                      capacity: 4
                    properties:
                      singlePlacementGroup: false
                      upgradePolicy:
                        mode: Automatic
                        automaticOSUpgradePolicy:
                          enableAutomaticOSUpgrade: false
                      virtualMachineProfile:
                        storageProfile:
                          osDisk:
                            createOption: FromImage
                            caching: ReadWrite
                            managedDisk:
                              storageAccountType: Premium_LRS
                            diskSizeGB: 30
                          imageReference:
                            publisher: azuredatabricks
                            offer: databricks
                            sku: databricksworker
                            version: 3.15.2
                          dataDisks: []
                        osProfile:
                          computerNamePrefix: '{virtualMachineScaleSetName}'
                          adminUsername: admin
                          linuxConfiguration:
                            disablePasswordAuthentication: false
                        networkProfile:
                          networkInterfaceConfigurations:
                            - name: myNic1
                              properties:
                                primary: true
                                ipConfigurations:
                                  - name: myIPConfig
                                    properties:
                                      primary: true
                                      subnet:
                                        id: /subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/myVNet/subnets/mySubnet
                                networkSecurityGroup:
                                  id: /subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/myNetworkSecurityGroup
                      provisioningState: succeeded
                      overprovision: false
                      doNotRunExtensionsOnOverprovisionedVMs: false
                      platformFaultDomainCount: 1
          operationId: VirtualMachineScaleSets_ListByLocation
          title: Lists all the VM scale sets under the specified subscription for the specified location.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines:
    get:
      operationId: VirtualMachines_ListByLocation
      tags:
        - VirtualMachines
      description: Gets all the virtual machines under the specified subscription for the specified location.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/VirtualMachineListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Lists all the virtual machines under the specified subscription for the specified location.:
          parameters:
            subscriptionId: '{subscriptionId}'
            location: eastus
            api-version: '2026-04-01'
          responses:
            '200':
              body:
                value:
                  - properties:
                      vmId: '{vmId}'
                      availabilitySet:
                        id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                      hardwareProfile:
                        vmSize: Standard_A0
                      storageProfile:
                        imageReference:
                          publisher: MicrosoftWindowsServer
                          offer: WindowsServer
                          sku: 2012-R2-Datacenter
                          version: 4.127.20170406
                        osDisk:
                          osType: Windows
                          name: test
                          createOption: FromImage
                          vhd:
                            uri: https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd
                          caching: None
                          diskSizeGB: 127
                        dataDisks: []
                      osProfile:
                        computerName: Test
                        adminUsername: Foo12
                        windowsConfiguration:
                          provisionVMAgent: true
                          enableAutomaticUpdates: true
                        secrets: []
                        allowExtensionOperations: true
                      networkProfile:
                        networkInterfaces:
                          - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
                      provisioningState: Succeeded
                    type: Microsoft.Compute/virtualMachines
                    location: eastus
                    tags:
                      RG: rg
                      testTag: '1'
                    id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}
                    name: '{virtualMachineName}'
                  - properties:
                      vmId: '{vmId}'
                      availabilitySet:
                        id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                      hardwareProfile:
                        vmSize: Standard_A0
                      storageProfile:
                        imageReference:
                          publisher: MicrosoftWindowsServer
                          offer: WindowsServer
                          sku: 2012-R2-Datacenter
                          version: 4.127.20170406
                        osDisk:
                          osType: Windows
                          name: test
                          createOption: FromImage
                          vhd:
                            uri: https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd
                          caching: None
                          diskSizeGB: 127
                        dataDisks: []
                      osProfile:
                        computerName: Test
                        adminUsername: Foo12
                        windowsConfiguration:
                          provisionVMAgent: true
                          enableAutomaticUpdates: true
                        secrets: []
                        allowExtensionOperations: true
                      networkProfile:
                        networkInterfaces:
                          - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
                      provisioningState: Succeeded
                    type: Microsoft.Compute/virtualMachines
                    location: eastus
                    tags:
                      RG: rg
                      testTag: '1'
                    id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}
                    name: '{virtualMachineName}'
          operationId: VirtualMachines_ListByLocation
          title: Lists all the virtual machines under the specified subscription for the specified location.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes:
    get:
      operationId: VirtualMachineSizes_List
      tags:
        - VirtualMachineSizes
      description: This API is deprecated. Use [Resources Skus](https://docs.microsoft.com/rest/api/compute/resourceskus/list)
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/LocationParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/VirtualMachineSizeListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        VirtualMachineSizes_List_MaximumSet_Gen:
          parameters:
            location: -e
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                  - name: Standard_A1_V2
                    numberOfCores: 1
                    osDiskSizeInMB: 1047552
                    resourceDiskSizeInMB: 10240
                    memoryInMB: 2048
                    maxDataDiskCount: 2
                  - name: Standard_A2_V2
                    numberOfCores: 2
                    osDiskSizeInMB: 1047552
                    resourceDiskSizeInMB: 20480
                    memoryInMB: 4096
                    maxDataDiskCount: 4
          operationId: VirtualMachineSizes_List
          title: VirtualMachineSizes_List_MaximumSet_Gen
        VirtualMachineSizes_List_MinimumSet_Gen:
          parameters:
            location: ._..
            api-version: '2026-04-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body: {}
          operationId: VirtualMachineSizes_List
          title: VirtualMachineSizes_List_MinimumSet_Gen
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups:
    get:
      operationId: ProximityPlacementGroups_ListBySubscription
      tags:
        - ProximityPlacementGroups
      description: Lists all proximity placement groups in a subscription.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ProximityPlacementGroupListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        List proximity placement groups.:
          parameters:
            subscriptionId: '{subscription-id}'
            api-version: '2026-04-01'
            parameters: {}
          responses:
            '200':
              body:
                value:
                  - name: myProximityPlacementGroup
                    properties:
                      proximityPlacementGroupType: Standard
                      intent:
                        vmSizes:
                          - Basic_A0
                          - Basic_A2
                      virtualMachines:
                        - id: string
                      virtualMachineScaleSets:
                        - id: string
                      availabilitySets:
                        - id: string
                    location: westus
                    zones:
                      - '1'
                    type: Microsoft.Compute/proximityPlacementGroups
                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                nextLink: foo://example.com/test
          operationId: ProximityPlacementGroups_ListBySubscription
          title: List proximity placement groups.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/restorePointCollections:
    get:
      operationId: RestorePointCollections_ListAll
      tags:
        - RestorePointCollections
      description: Gets the list of restore point collections in the subscription. Use nextLink property in the response to get the next page of restore point collections. Do this till nextLink is not null to fetch all the restore point collections.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The request has succeeded.
          schema:
[...]
